<a href="https://colab.research.google.com/github/onlypainofsuffering/BenStuff/blob/main/praktikum_python_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
angka = 10            # int
angka_koma = 2.5      # float
kata = "Halo"         # string
buah = ["apel", "mangga", "jeruk"]   # list

print(type(angka))
print(type(angka_koma))
print(type(kata))
print(type(buah))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>

In [10]:
belanja = ["beras", "minyak", "telur"]
belanja.append("gula")
belanja.append("kopi")

print("Daftar Belanja:")
for item in belanja:
    print(item)

Daftar Belanja:
beras
minyak
telur
gula
kopi

In [11]:
harga = {
    "beras": 12000,
    "minyak": 17000,
    "telur": 24000,
    "gula": 15000,
    "kopi": 20000
}

total = harga["beras"] + harga["minyak"] + harga["telur"] + harga["gula"] + harga["kopi"]
print("Total Harga:", total)

Total Harga: 88000

In [12]:
def lingkaran(r):
    luas = 3.14 * r * r
    keliling = 2 * 3.14 * r
    return luas, keliling

luas, keliling = lingkaran(7)
print("Luas:", luas)
print("Keliling:", keliling)

Luas: 153.86
Keliling: 43.96

In [13]:
usia = int(input("Masukkan usia: "))

if usia >= 0 and usia <= 13:
    print("Anak")
elif usia >= 14 and usia <= 24:
    print("Remaja")
elif usia >= 25 and usia <= 49:
    print("Dewasa")
else:
    print("Lansia")

Masukkan usia: 24
Remaja